<section class="footer">
    <section class="form-component">
      <p class="title">Contate-nos!</p>
      <form>
        <input type="text" placeholder="Nome">
        <input type="email" placeholder="E-mail">
        <textarea cols="30" rows="6" placeholder="Escreva sua mensagem"></textarea>
        <input type="submit" id="btnEnviar">
      </form>
    </section>

    <section class="social-media-component">
      <p class="title">Nossas redes</p>    
      <a href="#"><img src="../../../assets/footer/Instagram Icon.png" alt=""><p>&#64;javaland_coffee</p></a>
      <a href="#"><img src="../../../assets/footer/YouTube Icon.png" alt=""><p>/javaland_coffee</p></a>
      <a href="#"><img src="../../../assets/footer/Tiktok Icon.png" alt=""><p>&#64;javaland_coffee</p></a>
    </section>

    <section class="info-component">
      <img src="../../../assets/footer/Big Ben 1 (1).png" alt="">
      <p>business&#64;javaland.com.br</p>
      <p>CNPJ: 00.000.000/0001-60</p>
      <p>Praça Tomé de Souza, S/N - Centro </p>
      <p>Salvador - BA, 40020-000</p>
    </section>
</section>
