<section class="footer">
    <section class="form-component">
      <p class="title">Contate-nos!</p>
      <form [formGroup]="contactForm" (submit)="submitMessage()">
        <input type="text" placeholder="Nome" formControlName="name">
        <input type="email" placeholder="E-mail" formControlName="email">
        <textarea cols="30" rows="6" placeholder="Escreva sua mensagem" formControlName="message"></textarea>
        <button type="submit" id="btnEnviar">Enviar</button>
      </form>
    </section>

    <section class="social-media-component">
      <p class="title">Nossas redes</p>    
      <a href="#"><img src="../../../assets/footer/Social Icons-1.png" alt=""><p>&#64;javaland_coffee</p></a>
      <a href="#"><img src="../../../assets/footer/Social Icons-2.png" alt=""><p>/javaland_coffee</p></a>
      <a href="#"><img src="../../../assets/footer/Social Icons.png" alt=""><p>&#64;javaland_coffee</p></a>
    </section>

    <section class="info-component">
      <img src="../../../assets/footer/Big Ben 1 (1).png" alt="">
      <p>business&#64;javaland.com.br</p>
      <p>CNPJ: 00.000.000/0001-60</p>
      <p>Praça Tomé de Souza, S/N - Centro </p>
      <p>Salvador - BA, 40020-000</p>
    </section>
</section>
<section class="madeBy">
  <div class="label">
    <p><b>Desenvolvido por:</b> Gilberto Souza</p>
  </div>
  <div class="links">
    <p>Contato: </p>
    <a href="https://github.com/Bertin203">
      <img  src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" />  
    </a>  
    <a href="https://www.linkedin.com/in/gilbertosouza203/">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-plain.svg" />    
    </a>        
  </div>
</section>
