<section class="navbar">
  <section class="header-logo">
    <img src="../../../assets/header/Big Ben 1.png" alt="javaland-logo">
    <p>Distribuidora de Café</p>
  </section>

  <nav class="nav-options">
      <a href="#">Home</a>
      <a  href="#">Catálogo</a>
      <a href="#">Login</a>
  </nav>

  <section class="search-bar">
    <input type="search" placeholder="Buscar">
  </section>

  <nav class="new-client">
    <a href="#">Novo Cliente? Clique aqui</a>
  </nav>
</section>