.bg-image {
  background-image: url('../../../assets/Background\ Image.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-clip: content-box;
  background-repeat: no-repeat;

  .catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 100px;
    padding: 50px;
    padding-top: 300px;
    padding-bottom: 200px;
  }
}

