.card-container{
  margin: 25px;
  align-self: center;
}

a {
  text-decoration: none;
}

.card {
  font-family: Coustard;
  background-color: rgba(255, 255, 255, 0.536);
  color: #5C4037;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 155px;
  border-radius: 20px;
  
  .listing-photo {
    width: 125px;
  }

  .listing-title {
    font-weight: 300;
    margin-bottom: 2px;
    margin-top: 5px;
    font-size: 14px;
  }

  .listing-price {
    font-weight: 300;
    margin-top: 10px;
    font-size: 18px;
    font-style: italic;
  }

  img {
    width: 180px;
  }
}
