.bg-image {
  background-image: url('../assets/Background Image.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-clip: content-box;
  background-repeat: no-repeat;
  height: 100vh;
}

