<main class="bg-image">
    <section class="main-banner">
        <section class="img-banner">    
            <img src="../../../assets/main/Button Confira.png" alt="">
        </section>
        <section class="text-banner">
            <h3>Saboreie seu café antes mesmo de <br>chegar a sua mesa.</h3>
            <p>Cafés oriundos de várias regiões do mundo, <br>cuidadosamente selecionados para você</p>
        </section>
    </section>    

    <section class="scroll-banner">
        <section class="about-banner">
            <h3>Cafés Javaland:</h3>
            <p>feitos pra quem não vive sem café.</p>
        </section>
        <section class="about-img-banner">

        </section>
    </section>
</main>