.bg-image {
    background-image: url('../../../assets/Background\ Image.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-clip: content-box;
    background-repeat: no-repeat;
}

.main-banner {
    font-family: Coustard;
    color: #844837;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 200px;

    gap: 55px;

    .img-banner{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        img {
            width: 300px;
            height: 350px;
        }
    }

    .text-banner {      
        display: flex;
        flex-direction: column;
        gap: 24px;  

        h3 {
            font-size: 20px;
        }

        p {
            font-size: 18px;
            font-weight: 100;
        }
    }
}

.scroll-banner {
    font-family: Coustard;
    color: #844837;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-bottom: 100px;

    .about-banner {
        display: flex;
        flex-direction: column;
        width: 600px;
        height: 100px;
        padding-bottom: 400px;

        h3 {
            font-size: 20px;
        }

        h4 {
            font-size: 18px;
        }

        p {
            font-size: 16px;            
        }
    }
}


.catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding: 50px;
    padding-bottom: 200px;
}

#catalog-title {
    margin-top: 150px;
    text-align: center;
    color: #844837;
}