<main class="bg-image">
    <section class="main-banner">
        <section class="img-banner">    
            <img src="../../../assets/main/Button Confira.png" alt="">
        </section>
        <section class="text-banner">
            <h3>Saboreie seu café antes mesmo de <br>chegar a sua mesa.</h3>
            <p>Cafés oriundos de várias regiões do mundo, <br>cuidadosamente selecionados para você</p>
        </section>
    </section>    

    <section class="scroll-banner">
        <section class="about-banner">
            <h3>Cafés Javaland:</h3>
            <h4>feitos pra quem não vive sem café.</h4>
            <br>
            <p>Nós da Javaland, temos a satisfação de abrir a sua porta de entrada para uma jornada sensorial pelo mundo do café. Fundada com a paixão por explorar e celebrar a diversidade de sabores e aromas que o café tem a oferecer, nossa missão é conectar amantes de café de todo o mundo com as mais excepcionais e autênticas experiências de café.</p>
            <br>
            <p>Acreditamos que cada xícara de café é uma história única, uma jornada que começa nos campos de cultivo e viaja até a sua xícara. Por isso, buscamos cuidadosamente os grãos mais finos e distintos de regiões renomadas de cultivo de café em todo o mundo. Desde as terras altas dos Andes até as plantações ensolaradas da Etiópia, cada café que oferecemos é selecionado com dedicação e expertise, garantindo uma experiência verdadeiramente memorável a cada gole.</p>
        </section>
        <section class="about-img-banner">
            <img src="../../../assets/main/Image Component.png" alt="Images">
        </section>
    </section>
<!--
    <section class="catalog">
        <coffee-card *ngFor="let coffeeCard of coffeeCardList"  [coffeeCard]="coffeeCard">
        </coffee-card>
    </section>
-->
    <myFooter></myFooter>
</main>