@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap');

* {
  margin:0;
  padding:0;
  border:0;
  font-family: Coustard;
}

.coustard-regular {
  font-family: "Coustard", serif;
  font-weight: 400;
  font-style: normal;
}

.coustard-black {
  font-family: "Coustard", serif;
  font-weight: 900;
  font-style: normal;
}

body::-webkit-scrollbar {
  width: 12px;              /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #844837;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #67473D;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid white;  /* creates padding around scroll thumb */
}